.data-table {

    max-height: 75vh;
    width: 100vw;
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;

    table {
        width: 100%;
        min-width: 800px;
        border-collapse: collapse;

        thead {
            position: sticky;
            top: 0;
            background-color: white;
            th {
                padding: 8px;
            }
        }

        tbody {

            tr {
                cursor: pointer;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;

                td {
                    text-align: center;
                    padding: 8px;
                }

                &:hover {
                    background-color: #f5f5f5;
                }

            }
        }
    }
}