:root {
    --theme-colors-primary: hsl(190, 40%, 50%);
    --theme-colors-secondary: hsl(35, 90%, 55%);
    --theme-colors-tertiary: hsl(1, 90%, 60%);

    --theme-colors-primary-light: hsl(191, 100%, 95%);
    --theme-colors-secondary-light: hsl(36, 100%, 95%);
    --theme-colors-tertiary-light: hsl(0, 93%, 95%);

    --theme-colors-text: #2f2f2f;
    --theme-colors-text-secondary: #4e4e4e;
    --theme-colors-text-light: #f5f5f5;

    --theme-fonts-primary: 'Roboto', sans-serif;
    --theme-fonts-secondary: 'Roboto', sans-serif;

    --theme-font-size-xs: 0.75rem;
    --theme-font-size-sm: 0.875rem;
    --theme-font-size-md: 1rem;
    --theme-font-size-lg: 1.125rem;
    --theme-font-size-xl: 1.25rem;
    --theme-font-size-2xl: 1.5rem;
}

// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--theme-fonts-primary);
    font-size: var(--theme-font-size-md);
    line-height: 1.5;
    color: var(--theme-colors-text);
}

a {
    color: var(--theme-colors-primary);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--theme-fonts-secondary);
    font-weight: bold;
    line-height: 1.2;
    color: var(--theme-colors-text-secondary);
}


// Flex

.flex {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.self-start {
        align-self: flex-start;
    }

    &.self-end {
        align-self: flex-end;
    }

    &.gap-1 {
        gap: 1rem;
    }

    &.gap-2 {
        gap: 2rem;
    }

    &.gap-4 {
        gap: 4rem;
    }

    &.gap-8 {
        gap: 8rem;
    }
}

// Margin and padding 

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.p-12 {
    padding: 12px;
}

.p-16 {
    padding: 16px;
}

.p-20 {
    padding: 20px;
}

.m-4 {
    margin: 4px;
}

.m-8 {
    margin: 8px;
}

.m-12 {
    margin: 12px;
}

.m-16 {
    margin: 16px;
}

.m-20 {
    margin: 20px;
}

.border {
    border: 1px solid #ccc;
}

.cursor-pointer {
    cursor: pointer;
}

.h-44 {
    height: 44px;
}

.w-full {
    width: 100%;
}

.font-bold {
    font-weight: bold;
}

.skeleton {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    background-size: 200% 100%;

    background-image: linear-gradient(90deg,
            #f5f5f5 25%,
            transparent 25%,
            transparent 50%,
            #f5f5f5 50%,
            #f5f5f5 75%,
            transparent 75%,
            transparent);

    animation: infinite-skeleton 1s ease-in-out alternate infinite;
}

@keyframes infinite-skeleton {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;
    }
}

button, .button {
    background-color: var(--theme-colors-primary);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;

    &:focus {
        outline: none;
    }

    &:active {
        opacity: 0.8;
    }

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.5;
    }

    &.primary {
        background-color: var(--theme-colors-primary);
        color: white;
    }

    &.secondary {
        background-color: var(--theme-colors-secondary);
        color: white;
    }
}


.main-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
}

.tag {
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid;

    &.user {
        color: var(--theme-colors-primary);
        background-color: var(--theme-colors-primary-light);
        border-color: var(--theme-colors-primary);
    }

    &.admin {
        color: var(--theme-colors-secondary);
        background-color: var(--theme-colors-secondary-light);
        border-color: var(--theme-colors-secondary);
    }

    &.superadmin {
        color: var(--theme-colors-tertiary);
        background-color: var(--theme-colors-tertiary-light);
        border-color: var(--theme-colors-tertiary);
    }
}

.department {
    display: flex;
    align-items: center;

    div {
        padding-right: 4px;
    }
}



.employee-detail {

    display: flex;
    flex-direction: row;
    gap: 2rem;

    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;

    .image {

        width: 300px;
        min-height: 300px;
        border-radius: 4px;
        border: 1px solid #ccc;

        img {
            width: 100%;
            height: 100%;
            min-height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}


.input-field {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        font-size: var(--theme-font-size-sm);
    }

    input,
    select {
        font-size: var(--theme-font-size-md);
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    select {
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .error {
        color: red;
        font-size: var(--theme-font-size-sm);
    }
}