header {
    background-color: var(--theme-colors-primary-light);
    padding: 10px 24px;
    margin: 4px 2px;
    border-radius: 5px;

    p {
        font-size: var(--theme-font-size-xl);
        font-weight: bold;
        color: var(--theme-colors-text);
    }
}